# 利用 Python 进行数据分析

In [2]:
# 变量拆分常用来迭代元组或列表序列：
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}') # f-string 格式化

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [12]:
# 元组拆分
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b
rest
# rest 可以取其他的名称 如下划线 _
a, b, *_ = values
_

[3, 4, 5]

In [13]:
# tuple 方法
# .count() 统计某个值的出现频率
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [14]:
# list 串联和组合列表，.extend() 追加元素 最优（比'+'快）
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [18]:
# 二分搜索和维护已排序的列表
# bisect 模块支持二分查找，和向已排序的列表插入值
# bisect.bisect 可以找到插入值后仍保证排序的位置
# bisect.insort 是向这个位置插入值

import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)
bisect.bisect(c, 5)
c
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [19]:
# list 切片 list[start:stop:step]
# step=-1，可以将列表或元组颠倒过来
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[::-1]

[1, 0, 6, 5, 7, 3, 2, 7]

### 序列函数

In [23]:
# enumerate() 函数
# 迭代序列时，跟踪当前项的序号
collection = [2, 4, 5, 8, 7, 34]
for i, value in enumerate(collection):
    print(i, value)
# 索引数据时，计算序列（唯一的）dict 映射到位置的值
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

0 2
1 4
2 5
3 8
4 7
5 34

{'foo': 0, 'bar': 1, 'baz': 2}

In [25]:
# sorted() 函数
# 从任意序列的元素返回一个新的排好序的列表
d = sorted([7, 1, 3, 8, 0, 4, 2])
print(d)
sorted('horse race')

[0, 1, 2, 3, 4, 7, 8]

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [38]:
# zip() 函数
# 可以将多个列表、元组或其它序列成对组合成一个元组列表
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

# 可以处理任意多的序列，元素的个数取决于最短的序列
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

# 常见用法之一是同时迭代多个序列，可能结合 enumerate 使用
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print(f'{i}: {a}, {b}')

# 给出一个“被压缩的”序列， zip 可以被用来解压序列。也可以当作把行的列表转换为列的列表
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
           ('Schilling', 'Curt')]
print(*pitchers)
first_names, last_names = zip(*pitchers)
first_names
last_names

0: foo, one
1: bar, two
2: baz, three
('Nolan', 'Ryan') ('Roger', 'Clemens') ('Schilling', 'Curt')

('Ryan', 'Clemens', 'Curt')

In [40]:
# reversed() 函数
# 可以从后向前迭代一个序列
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [43]:
# Numpy
import numpy as np
my_arr = np.arange(1000000)
my_list = list(range(1000000))

%time for _ in range(10): my_arr2 = my_arr * 2
%time for _ in range(10): my_list2 = [x * 2 for x in my_list]

Wall time: 31.2 ms
Wall time: 1.45 s

## Pandas

> **两个主要的数据结构：Series & DataFrame**

### Series

**类似于一维数组的对象**

**构成：**

*一组数据（各种 NumPy 数据类型）*

*数据标签（即索引）*

In [19]:
import pandas as pd
from pandas import Series

obj = pd.Series([4, 7, -5, 3])
obj  # 0,1, 2, 3 即为数据标签（索引）

0    4
1    7
2   -5
3    3
dtype: int64

In [7]:
# Series的字符串表现形式为：索引在左边，值在右边
# Series 的 values 和 index 属性获取其数组表示形式和索引对象

import pandas as pd
from pandas import Series

obj = pd.Series([4, 7, -5, 3])
obj.values
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
# 可以创建带有索引的 Series 对象

import pandas as pd
from pandas import Series

obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [10]:
# 通过索引的方式选取Series中的单个值
import pandas as pd
from pandas import Series

obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2['a']

-5

In [12]:
# 通过索引列表的方式选取Series中的一组值
import pandas as pd
from pandas import Series

obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2[['a', 'b', 'c']] # ['a', 'b', 'c'] 索引列表

a   -5
b    7
c    3
dtype: int64

In [16]:
# 使用 NumPy 函数或类似 NumPy 的运算（如根据布尔型数组进行过滤、标量乘法、应用数学函数等）都会保留索引值的链接
import pandas as pd
from pandas import Series
import numpy as np

obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

obj2[obj2 > 0]

obj2 * 2

np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [18]:
# Series 可看作是一个定长的有序字典
import pandas as pd
from pandas import Series

obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

'b' in obj2
'f' in obj2

False

In [20]:
# 通过 Python 字典创建 Series
import pandas as pd
from pandas import Series

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [21]:
# 可以传入排好序的字典的键以改变顺序
import pandas as pd
from pandas import Series

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4 # 'California' 不在 sdata 中，结果以 NaN 填充；'Utah' 不在 states 中，最终结果会被除去

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [22]:
# Series 对象本身及其索引都有一个 name 属性
import pandas as pd
from pandas import Series

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)

obj4.name = 'population'
obj4.index.name = 'state'

obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [23]:
# Series 的索引可以通过赋值的方式原地修改
import pandas as pd
from pandas import Series

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)

obj4.index = ['广州', '上海', '佛山', '中山']
obj4

广州        NaN
上海    35000.0
佛山    16000.0
中山    71000.0
dtype: float64

### DataFrame

- 建DataFrame的办法有很多，最常用的一种是直接传入一个由等长列表或NumPy数组组成的字典：

In [3]:
import pandas as pd
from pandas import DataFrame

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
       'year': [2000, 2001, 2002, 2001, 2002, 2003],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [4]:
# 对于特别大的DataFrame，head方法会选取前五行：
import pandas as pd
from pandas import DataFrame

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
       'year': [2000, 2001, 2002, 2001, 2002, 2003],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [5]:
# 如果指定了列序列，则DataFrame的列就会按照指定顺序进行排列：
import pandas as pd
from pandas import DataFrame

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
       'year': [2000, 2001, 2002, 2001, 2002, 2003],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
pd.DataFrame(data, columns=['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [8]:
# 如果传入的列在数据中找不到，就会在结果中产生缺失值：
import pandas as pd
from pandas import DataFrame

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
       'year': [2000, 2001, 2002, 2001, 2002, 2003],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], 
                      index=['one', 'two', 'three', 'four', 'five', 'six'])
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [30]:
# 通过类似字典标记的方式或属性的方式，可以将 DataFrame 的列获取为一个 Series
import pandas as pd
from pandas import DataFrame

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
       'year': [2000, 2001, 2002, 2001, 2002, 2003],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], 
                      index=['one', 'two', 'three', 'four', 'five', 'six'])

frame2['state']
frame2.year  
# frame2[column]适用于任何列的名，但是frame2.column只有
# 在列名是一个合理的Python变量名时才适用

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

In [31]:
# 行也可以通过位置或名称的方式获取，如 loc 属性
import pandas as pd
from pandas import DataFrame

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
       'year': [2000, 2001, 2002, 2001, 2002, 2003],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], 
                      index=['one', 'two', 'three', 'four', 'five', 'six'])

frame2.loc['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [34]:
# 列可以通过赋值的方式进行修改
import pandas as pd
from pandas import DataFrame

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
       'year': [2000, 2001, 2002, 2001, 2002, 2003],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], 
                      index=['one', 'two', 'three', 'four', 'five', 'six'])

frame2['debt']  = 16.5
frame2

       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5

In [35]:
# 列可以通过赋值的方式进行修改
import pandas as pd
from pandas import DataFrame
import numpy as np

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
       'year': [2000, 2001, 2002, 2001, 2002, 2003],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], 
                      index=['one', 'two', 'three', 'four', 'five', 'six'])

frame2['debt']  = np.arange(6.)
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0

In [39]:
# 将列表或数组赋值给某个列时，其长度必须跟 DataFrame 的长度相匹配
import pandas as pd
from pandas import DataFrame


data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
       'year': [2000, 2001, 2002, 2001, 2002, 2003],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], 
                      index=['one', 'two', 'three', 'four', 'five', 'six'])

frame2['debt']  = [10, 39, 30, 49, 90,]
frame2

ValueError: Length of values does not match length of index

In [40]:
# 如果将 Series 赋值给列，就会精确匹配 DataFrame 的索引，空位将被填充缺失值
import pandas as pd
from pandas import DataFrame


data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
       'year': [2000, 2001, 2002, 2001, 2002, 2003],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], 
                      index=['one', 'two', 'three', 'four', 'five', 'six'])

val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt']  = val
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [42]:
# 为不存在的列赋值会创建出一个新列
import pandas as pd
from pandas import DataFrame


data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
       'year': [2000, 2001, 2002, 2001, 2002, 2003],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], 
                      index=['one', 'two', 'three', 'four', 'five', 'six'])

frame2['eastern'] = frame2.state == 'Ohio'
frame2

       year   state  pop debt  eastern
one    2000    Ohio  1.5  NaN     True
two    2001    Ohio  1.7  NaN     True
three  2002    Ohio  3.6  NaN     True
four   2001  Nevada  2.4  NaN    False
five   2002  Nevada  2.9  NaN    False
six    2003  Nevada  3.2  NaN    False

In [44]:
# 关键字 del 用于删除列
import pandas as pd
from pandas import DataFrame


data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
       'year': [2000, 2001, 2002, 2001, 2002, 2003],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], 
                      index=['one', 'two', 'three', 'four', 'five', 'six'])

frame2['eastern'] = frame2.state == 'Ohio'
del frame2['eastern']
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [45]:
# 嵌套字典
import pandas as pd
from pandas import DataFrame

pop = {'Nevada': {2001: 2.4, 2002:2.9},
      'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
# 嵌套字典传给 DataFrame, pandas 就会被解释为：
# 外层字典的键作为列，内层字典的键则作为行索引
frame3 = pd.DataFrame(pop)
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [46]:
# DataFrame 转置（交换行和列）
import pandas as pd
from pandas import DataFrame

pop = {'Nevada': {2001: 2.4, 2002:2.9},
      'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)

frame3.T

        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio     1.5   1.7   3.6

In [49]:
# 内层字典的键会被合并、排序以形成最终的索引
# 但明确指定了索引就不会
import pandas as pd
from pandas import DataFrame

pop = {'Nevada': {2001: 2.4, 2002:2.9},
      'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
pd.DataFrame(pop, index=[2001, 2002, 2003])

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [52]:
# Series 组成的字典差不多也是一样的用法
import pandas as pd
from pandas import DataFrame

pop = {'Nevada': {2001: 2.4, 2002:2.9},
      'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)

pdata = {'Ohio': frame3['Ohio'][:-1],
        'Nevada': frame3['Nevada'][:2]}
pd.DataFrame(pdata)

      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4

### 索引对象

> pandas 的索引对象负责管理轴标签和其他元数据（比如轴名称等）。构建 Series 或 DataFrame 时，所用到的任何数组或其他序列的标签都会被转换成一个Index

In [54]:
import pandas as pd
from pandas import Series

obj = pd.Series(range(3), index=['a', 'b', 'c'])

index = obj.index
index
index[1:]

Index(['b', 'c'], dtype='object')

In [55]:
# Index 对象是不可变的
import pandas as pd
from pandas import Series

obj = pd.Series(range(3), index=['a', 'b', 'c'])

index = obj.index
index[1] = 'd'

TypeError: Index does not support mutable operations

In [56]:
# 不可变可以使 Index 对象在多个数据结构之间安全共享
import pandas as pd
from pandas import Series

labels = pd.Index(np.arange(3))
labels

Int64Index([0, 1, 2], dtype='int64')

In [57]:
import pandas as pd
from pandas import Series

obj2 = pd.Series([1.5, -2.5, 0], index=labels)
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [58]:
import pandas as pd
from pandas import Series

obj2 = pd.Series([1.5, -2.5, 0], index=labels)
obj2.index is labels

True

In [61]:
# 除了类似于数组，Index的功能也类似一个固定大小的集合
import pandas as pd
from pandas import DataFrame

pop = {'Nevada': {2001: 2.4, 2002:2.9},
      'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)

frame3.columns

'Ohio' in frame3.columns

2003 in frame3.index

False

In [63]:
# 与python的集合不同，pandas的Index可以包含重复的标签
# 选择重复的标签，会显示所有的结果

import pandas as pd
from pandas import DataFrame

dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])
dup_labels

Index(['foo', 'foo', 'bar', 'bar'], dtype='object')