# 第 8 章 数据规整：聚合、合并和重塑

## 层次化索引

层次化索引（hierarchical indexing）是pandas的一项重要功能，它使你能在一个轴上拥有多个（两个以上）索引级别。抽象点说，它使你能以低维度形式处理高维度数据

In [2]:
# 一个简单的例子：创建一个 Series，并用一个由列表或数组组成的列表作为索引：
import pandas as pd
from pandas import Series
import numpy as np

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                      [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

a  1   -0.808563
   2   -0.004733
   3    0.371803
b  1   -0.114914
   3   -1.461594
c  1   -0.290832
   2    0.337975
d  2   -0.428205
   3    0.356199
dtype: float64

In [3]:
# 结果是经过美化的带有MultiIndex索引的Series的格式。索引之间的“间隔”表示“直接使用上面的标签”：
import pandas as pd
from pandas import Series
import numpy as np

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                      [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

In [4]:
# 对于一个层次化索引的对象，可以使用所谓的部分索引，使用它选取数据子集的操作更简单：
import pandas as pd
from pandas import Series
import numpy as np

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                      [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data['b']

1    0.298392
3    1.275681
dtype: float64

In [5]:
import pandas as pd
from pandas import Series
import numpy as np

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                      [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data['b':'c']

b  1   -1.849372
   3    1.105512
c  1    0.334390
   2    0.536400
dtype: float64

In [6]:
import pandas as pd
from pandas import Series
import numpy as np

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                      [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data.loc[['b', 'd']]

b  1   -0.138369
   3    0.827619
d  2   -0.837985
   3    0.991760
dtype: float64

In [7]:
# 甚至还可以在“内层”中进行选取：
import pandas as pd
from pandas import Series
import numpy as np

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                      [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data.loc[:, 2]

a   -0.871586
c    1.035269
d    1.024583
dtype: float64

层次化索引在数据重塑和基于分组的操作（如透视表生成）中扮演着重要的角色。

In [8]:
# 可以通过unstack方法将这段数据重新安排到一个DataFrame中：
import pandas as pd
from pandas import Series
import numpy as np

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                      [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data.unstack()

          1         2         3
a -0.994916 -0.365944  2.462256
b -0.123098       NaN -0.614327
c -1.398801  0.438644       NaN
d       NaN  0.275744  1.109167

In [10]:
# unstack 的逆运算是 stack：
import pandas as pd
from pandas import Series
import numpy as np

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                      [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data.unstack().stack()

a  1   -0.211003
   2    0.534875
   3   -0.741722
b  1   -2.030085
   3    0.636789
c  1    1.323714
   2   -0.169503
d  2    0.731993
   3   -0.370756
dtype: float64

In [11]:
# 对于一个DataFrame，每条轴都可以有分层索引：
import pandas as pd
from pandas import Series
import numpy as np

frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                    columns=[['Ohio', 'Ohio', 'Colorado'],
                            ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [13]:
# 各层都可以有名字（可以是字符串，也可以是别的Python对象）。
# 如果指定了名称，它们就会显示在控制台输出中：
import pandas as pd
from pandas import Series
import numpy as np

frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                    columns=[['Ohio', 'Ohio', 'Colorado'],
                            ['Green', 'Red', 'Green']])
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [14]:
# 有了部分列索引，因此可以轻松选取列分组：
import pandas as pd
from pandas import Series
import numpy as np

frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                    columns=[['Ohio', 'Ohio', 'Colorado'],
                            ['Green', 'Red', 'Green']])
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [ ]:
# 可以单独创建 MultiIndex 然后复用。上面那个 DataFrame 中的（带有分级名称）列可以这样创建：  
MultiIndex.from_arrays([['Ohio', 'Ohio', 'Colorado'],
                       ['Green', 'Red', 'Green']],
                      names=['state', 'color'])